
:root{
  --primary: #fff;
}
.btn {
 
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &--primary {
      background-color: var(--primary);
      color: #ffffff;
      border: 1px solid var(--primary);
    }
  
    
    &--outline {
      background-color: transparent;
      border: 2px solid #0074d9;
      color: #0074d9;
    }
  
    
    &--medium {
      font-size: 16px;
    }
  
   
    &--large {
      font-size: 18px;
    }

  }